@page
@model MyApp.Namespace.AddModel
@{
    <h1>Add User</h1>

   <form method="post">
     
         <div class="form-group">
               <label>
                  <span>Username</span>
                  <input type="text" name="username" class="form-control">
               </label>
               <label>
                  <span>Email</span>
                  <input type="email" name="email" class="form-control">
               </label>
               <label>
                  <span>Password</span>
                  <input type="password" name="password" class="form-control">
               </label>
               <label>
                  <span>Confirm Password</span>
                  <input type="password" name="verify" class="form-control">
               </label>
         </div>
     

      <input type="submit" value="Add User" class="btn btn-danger">

   </form>
}
